
          /*  HERO  */

@media screen and (max-width: 1200px) {

    body {
        overflow-x: hidden;
    }

    .brand .identity {
        display: flex;
        flex-direction: column;
        align-items: center;
        left: auto;
        top: 10%;
    }

    .brand h1 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: relative;
        margin-top: 30px;
        font-size: max(3vw, 20px);
    }

    .brand h1 span {
        /* display: none; */
        position: relative;
        color: var(--green-color);
        margin-top: 0px;
        font-size: max(6.5vw, 55px);
    }

    .brand .identity a {
        top: 80%;
        left: 50%;
    }

    .container {
        display: flex;
        justify-content: center;
    }

    .container .lata {
        top: 15%;
        left: 50%;
        transform: translateX(-48%);
        max-width: 900px;
        min-width: 500px;
        height: 80vh;
        width: auto;
        object-fit: contain;
        align-items: center;
    }
}

            /* ABOUT US */

@media only screen and (min-width: 769px) and (max-width: 990px) {

    .about h3 {
        font-size: 3rem;
    }

    .about .highlight {
        font-size: 5rem;
        /* Tamaño de fuente más grande */
        font-weight: 900;
    }

    .about .divisor_rosa {
        width: 100%;
        margin: 150px 0 0 0;
    }
}

@media only screen and (max-width: 768px) {

    .section-padding {
        padding: 5rem 5vw;
    }

    .about h3 {
        font-size: max(4vw, 18px);
        text-align: left;
    }

    .about .about_description {
        margin-top: 3rem;
        font-size: max(2vw, 20px);
        font-weight: 400;
        line-height: 3rem;
        text-align: left;
    }

    .about .highlight {
        font-size: 5rem;
        /* Tamaño de fuente más grande */
        font-weight: 900;
        text-align: left;
        margin: 0;
        margin-bottom: 5rem;
    }

    .about .frame_art {
        display: none;
    }

    .about .frame_art-mobile-1,
    .about .frame_art-mobile-2 {
        display: block;
        margin-top: 2rem;
        width: 100%;
    }
}
            /* PARTNERS */

@media only screen and (min-width: 990px) and (max-width: 1400px){
    .partners h3 {
        font-size: 8rem;
        
        margin-left: 12rem;
    }
}

@media only screen and (max-width: 990px){
    .partners h3 {
        font-size: 5rem;
        margin-left: 0rem;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1400px){

    .partners {
        padding: 10rem 5rem;
    }

    .partners .wrapper_logos {
        width: 100%;
        margin-right: 0;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .partners h3 {
        text-align: left;
    }

    .partners_logo{
        padding-bottom: 20px;
    }


    .logos-left{
        width: 100%;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .logos-right{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (max-width: 768px){

    .partners {
        padding: 5rem 3rem;
    }

    .partners h3 {
        text-align: left;
    }

    .partners .wrapper_logos {
        margin: 100px 0 0 0;
        display: flex;  
        flex-direction: row;
        justify-content: space-around;
    }

    .partners .wrapper_logos img{
        height: max(16vw, 20px);
        margin-bottom: 4rem;
    }

    .logos-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .logos-right{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
    }
}

            /* THE EXPERIENCE */

@media only screen and (min-width: 990px) and (max-width: 1600px){

    .experience {
        padding-top: 50px;
    }

    .experience-right, .experience-left{
        padding-bottom: 50px;
    }
    .experience-left h4, .experience-right h4 {
        font-size: 5rem;
        text-align: left;
    }

    .experience h3 {
        font-size: 8rem;
    }

    .experience-left h4, .experience-right h4{
        font-size: 3rem;
        font-weight: 700;
        margin-top: 0;
        margin-bottom: 40px;
        text-align:left;
    }

    .experience-left p, .experience-right p{
        font-size: max(2vw, 24px);
        font-weight: 400;
        line-height: 3.5rem;;
        text-align: left;
    }

    .experience-right img{
        margin-right: 6rem;
        width: 60%;
        height: 300px;
        /* outline: solid 1px red; */
    }
    .experience-left img{
        margin-left: 6rem;
        width: 60%;
        height: 300px;
        /* outline: solid 1px red; */
    }
    .experience-left .text, .experience-right .text{
        width: 70%;
    }
    
}

@media only screen and (max-width: 990px){

    .experience h3  {
        font-size: 5rem;
    }

    .experience-left h4, .experience-right h4   {
        margin-top: 0;
        font-size: 3.5rem;
    }

    .experience-left h4 {
        padding: 1rem;
    }

    .experience-left p {
        font-size: max(2vw, 20px);
        font-weight: 400;
        line-height: 3.4rem;;
        text-align: left;
        padding-left: 1rem;
    }

    .experience-right p {
        font-size: max(2vw, 20px);
        font-weight: 400;
        line-height: 3.4rem;;
        text-align: left;
    }
    
    .experience-left{
        padding-top: 8rem;
        flex-direction: column;
    }

    .experience-right {
        padding-top: 8rem;
        flex-direction: column-reverse;
    }
    
    .experience-right img, .experience-left img {
        margin-top: 0;
        width: 100%;
        margin-left: 0;
        padding-bottom: 0;
    }
    
    .experience-right .text, .experience-left .text {
        width: 100%;
        flex-direction: column;
        margin-left: 0;
        margin-right: 0;
    }

}

@media only screen and (max-width: 770px){
    .experience h3 {
        padding-top: 0;
        font-size: 4.5rem;
    }
}

            /* COMMUNITY */

@media only screen and  (max-width: 990px){

    .community h3{
        font-size: 4.5rem;
        text-align: left;
    }

    .community .wrapper {
        flex-direction: column;
        margin-top: 1rem;
    }

    .community-right {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        padding-top: 30px;
        width: 90vw;
    }

    .community-right h4 br {
        display: none;
    }

    .community-right h4 {
        font-size: max(4vw, 26px);
        line-height: 4rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    .community .community-left {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .community p{
        font-size: 2rem;
        font-weight: 400;
        line-height: 3rem;;
        text-align: left;
    }
}

            /* CONTACT */
    
@media only screen and (min-width: 990px) and (max-width: 1100px){
    .contact-right {
        margin-top: 100px;
    }
}


@media only screen and (min-width: 740px) and (max-width: 990px){

    .contact-left h3{
        font-size: 5rem;
        text-align: left;
    }

    .contact-left p{
        font-size: 2rem;
        font-weight: 400;
        line-height: 3rem;;
        text-align: left;
    }
}

@media only screen and (max-width: 740px){

    .contact .wrapper {
        display: flex;
        flex-direction: column;
        padding-bottom: 0;
    }  

    .contact-left {
        width: 100%;
        padding-right: 3rem;
    }

    .contact-left h3{
        font-size: 5rem;
        text-align: left;
    }

    .contact-left p{
        font-size: max(2vw, 20px);
        font-weight: 400;
        line-height: 4.4rem;
        text-align: left;
    }

    .contact .contact-right{
        width: 100%;
    }

    .contact .contact-left img {
        display: none;
    }

    .contact-right form {
        margin-top: 2rem;
        width: 100%;
    }
}

            /* FOOTER */

@media only screen and (min-width: 578px) and (max-width: 990px){

    footer{
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
    }
        
    footer .container-left{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    }
        
    footer .container-left img {
            width: 50%; 
            margin-bottom: 8rem;
    }
        
    footer .container-right {
            margin: 0;
            width: 100%;
            justify-content: space-around;
    }
        
    footer .container-right .social {
            margin-left: 50px;
            width: 40%;
    }
        
        
    footer .social-links {
        padding-left: 3px;
            width: 150px;
    }
        
    footer .container-right .contact-us {
            margin-left: 0;
            width: 40%;
    }
}

@media only screen and (max-width: 578px){

    footer{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    
    footer .container-left{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
    }
        
    footer .container-left img {
            width: 70%; 
            padding-right: 3rem; /*fix del margin-right q no encuentro */
            margin-bottom: 8rem;
    }
        
    footer .container-right {
            margin: 0 auto;
            width: 70%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
    }
        
    footer .container-right .social {
            margin-left: 14px;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 6rem;
            position: relative;
    }
        
        
    footer .social-links {
        display: flex;
        position: relative;
        justify-content: flex-start;
        left: 0;
        width: 100%;
    }

    footer .social-links a {
        margin-right: 5rem ;
    }
        
    footer .container-right .contact-us {
            margin-left: 0;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
    }
    footer .contact-us-wrapper p{
        margin: 0;
    }
}