header {
    position: fixed;
    background-color: var(--blue-color);  /*puede ser transparent..*/
    padding: 2vh 0;
    top: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    z-index: 100;
}
 
header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /*-------imagen del logo-------*/

    header nav a {
        cursor: default;
    }

    header nav a .logo {            
    height: 50px;
    margin-left: 2rem;
    background-size: cover;
    padding-right: 5px;
    cursor: pointer;
}

header nav a .logo:hover{
    background-image: url(../img/logo_negro.svg);
    background-position: 6px 0;
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 5px;
}


     /*-------menu del medio------*/

header nav ul {                
    list-style-type: none;
    padding: 0;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

header nav ul li:first-child {
    margin-left: 0;
}

header nav ul li:last-child {
    margin-right: 0;
}

header nav ul li a, nav>a {
    display: block;
    padding: 10px 1.2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 18px;
    font-weight: 600;
}

header nav ul li a:hover {
    color: var(--black-color);
    cursor: pointer;
}

    /*------menu redes sociales------*/

header nav .social-links {
    display: inline-block;
    margin-right: 4rem;
}

header nav .social-links a {
    margin-left: 2.5rem;
}

header nav .social-links a i {
    color: var(--white-color);
    font-size: 22px;
}

header nav .social-links a i:hover {
    color: var(--pink-color);
    cursor: pointer;
}

header .menu-btn {
    display: none;
}




/*----- ESTILOS EN RESOLUCION < 1200------*/

@media screen and (max-width: 1200px) {
    header {
        height: 100%;
        width: 0;
        right: 0;
        background-color: transparent;
        border: none;
        box-shadow: 0 0px 0px rgba(230, 230, 230, 0);
    }

    header .menu-btn {
        position: absolute;
        top: 20px;

        right: -30px;
        color: var(--white-color);
        padding-right: 50px;
        border: 2px solid transparent;
        border-radius: 5px;
        height: 45px;
        width: 45px;
        z-index: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
        cursor: pointer;
    }

    header .menu-btn i {
        position: absolute;
        font-size: 30px;
        transition: all .3s ease;
    }

    header .menu-btn i.fa-xmark {
        opacity: 0;
    }

    #btn:checked ~ .menu-btn i.fa-xmark {
        opacity: 1;
        transform: rotate(-180deg);
    }

    #btn:checked ~ .menu-btn i.fa-bars {
        opacity: 0;
        transform: rotate(-180deg);
    }

    #head-sidebar {
        position: fixed;
        background: transparent;
        height: 100%;
        width: 300px;
        overflow: hidden;
        right: -300px;
        transition: all .3s ease;
        display: flex;
        flex-direction: column;
    }

    #btn:checked ~ #head-sidebar {
        right: 0px;
        background: var(--pink-color);
        z-index: 400;
    }

    #head-sidebar>a{
        position: fixed;
        z-index: 300;
        background: var(--blue-color);
        padding-left: 0px;
        padding-right: 90vw;
        padding-top: 20px;
        padding-bottom: 20px;
        top: 0px;
        left: 0px;
        transition: all .3s ease;
    }
    
    #btn:checked ~ #head-sidebar>a {
        /* top: -20vh; */
        left: auto;
        right: 0;
        padding-right: 70px;
        padding-left: 0;
        padding-bottom: 0;
        background-color: var(--pink-color);
    }

    header nav a .logo:hover{
        padding-right: 6px;
        background-position: 3px 0;
    }

    #head-sidebar ul {
        position: absolute;
        top: 100px;
        left: 30px;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #head-sidebar .social-links {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 50px;
    }

    #head-sidebar .social-links a {
        padding: 0 10px;
    }

    #head-sidebar .social-links a i:hover {
        color: var(--green-color);
    }
}


/*----- ESTILOS EN RESOLUCION < 577 a 320------*/

@media screen and (max-width: 577px) {
    header {
        height: 100%;
        width: 0;
        right: 0;
        background-color: transparent;
        border: none;
        box-shadow: 0 0px 0px rgba(230, 230, 230, 0);
    }

    header .menu-btn {
        position: absolute;
        top: 20px;
        right: -30px;
        color: var(--white-color);
        padding-right: 50px;
        border: 2px solid transparent;
        border-radius: 5px;
        height: 45px;
        width: 45px;
        z-index: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease;
        cursor: pointer;
    }

    header .menu-btn i {
        position: absolute;
        font-size: 30px;
        transition: all .3s ease;
    }

    header .menu-btn i.fa-xmark {
        opacity: 0;
    }

    #btn:checked ~ .menu-btn i.fa-xmark {
        opacity: 1;
        transform: rotate(-180deg);
    }

    #btn:checked ~ .menu-btn i.fa-bars {
        opacity: 0;
        transform: rotate(-180deg);
    }

    #head-sidebar {
        position: fixed;
        background: transparent;
        height: 100%;
        width: 100vw;
        overflow: hidden;
        top: 0;
        right: -600px;
        transition: all .3s ease;
        display: flex;
        flex-direction: column;
    }

    #btn:checked ~ #head-sidebar {
        right: 0px;
        background: var(--pink-color);
    }

    #head-sidebar ul a:checked ~ #head-sidebar{
        right: -600px;
    }

    #head-sidebar>a {
        position: fixed;
        background: var(--blue-color);
        padding-left: 30px;
        padding-right: 90vw;
        padding-top: 20px;
        padding-bottom: 10px;
        top: 0px;
        left: -30px;
        transition: all .3s ease;
    }

    #btn:checked ~ #head-sidebar>a {
        position: fixed;
        left: 0px;
        padding-bottom: 10px;
        /* transform: translateY(-20vh); */
        background-color: var(--pink-color);
    }

    #head-sidebar ul {
        position: absolute;
        top: 100px;
        left: 30px;
        font-size: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #head-sidebar .social-links {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: center;
        bottom: 50px;
        margin: 0;
    }

    #head-sidebar .social-links a {
        padding: 0 25px;
        margin-left: 0;
    }
    #head-sidebar .social-links a i {
        font-size: 2.8rem;
    }

    #head-sidebar .social-links a i:hover {
        color: var(--green-color);
    }

    :target {
        scroll-margin-top: 50px;
        /* Agregar espacio en blanco en la parte superior */
    }

    /* Compensar el espacio en blanco con scroll-padding-top */
    :target::before {
        content: "";
        display: block;
        height: 100px;
        /* Espacio en blanco */
        margin-top: -100px;
        /* Compensar el espacio en blanco */
    }

    #head-sidebar:target {
        right: -300px; /* Oculta la barra lateral */
      }
}