header {
    position: fixed;
    background-color: var(--blue-color);  /*puede ser transparent..*/
    padding: 2vh 0;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*sombreado bajo el header*/
    z-index: 100;
}
 
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    /*-------imagen del logo-------*/

nav a .logo {             
    height: 50px;
    margin-left: 2rem;
    background-size: cover;
}

nav a .logo:hover{
    background-image: url(../img/logo_3.png);
}


     /*-------menu del medio------*/

nav ul {                
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 1rem;
}

nav ul li:first-child {
    margin-left: 0;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a, nav>a {
    display: block;
    padding: 10px .25rem;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 600;
}

nav ul li a:hover {
    color: var(--pink-color);
}

    /*------menu redes sociales------*/

nav .social-links {
    display: inline-block;
    margin-right: 4rem;
}

nav .social-links a {
    margin-left: 2.5rem;
}

nav .social-links a i {
    color: var(--white-color);
    font-size: 22px;
}

nav .social-links a i:hover {
    color: var(--pink-color);
}