section {
    position: relative;
    background-color: var(--lightpink-color);
    margin: 0;
    padding-top: 100px;
}

section h3{
    font-family: helvetica, arial;
    text-align: center;
    font-size: 50px;
    font-weight: 900;
}

section .highlight {
    display: block;
    width: fit-content;
    margin: 0 auto;
    font-size: 80px; /* Tamaño de fuente más grande */
    background-color: var(--green-color); /* Color de fondo verde */
}