:root{
    --lightblue-color: #00FFFF;
    --white-color: #FCFCFC;
    --black-color: #242424;
    --pink-color: #FF34CD;
    /* --lightpink-color: #EECCE7; */
    --lightpink-color: #ffb6f0;
    --green-color: #CDFB51;
    --blue-color: #71A0D3;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-font: 'Helvetica-Neue' ,Arial, sans-serif;
}

@font-face {
    font-family: 'Helvetica-Neue';
    src: url(./fonts/HelveticaNeueHeavy.otf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
    font-family: 'Montserrat-semi';
    src: url(./fonts/Montserrat-Bold.ttf);
}
 
html,body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    /* font-size: 16px; */
    /* explicacion: https://platzi.com/discusiones/2008-html-css/111887-al-hacer-el-truco-de-emfont-size-625em-625-16px-10px-si-la-etiqueta-html-tendra-ese-valor-10px-de-font-size-entonces/ */
    font-size: 62.5%;
    overflow-x: hidden;
    width: 100vw;
}

/*------Establezco el color del background de la pagina de inicio-------*/

.background{
    background: linear-gradient(to bottom, var(--blue-color) 80%, #beddf9);
    margin: 0;
    padding: 0;
    height: 100vh;     /*utiliza el 100% del alto del viewport*/
    width: 100%;        /*se ajusta en ancho*/
    position: fixed;    /*dejo el fondo fijo*/
    z-index: -10;        /*lo ubico una capa detras para que se pueda ver el contenido*/
}

body {
    position: relative;
}